<?xml version="1.0"?>
<config>
	<modules>
		<Aijko_CustomOptionDescription>
			<version>0.1.0</version>
		</Aijko_CustomOptionDescription>
	</modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_options_option>Aijko_CustomOptionDescription_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <customoptiondescription_setup>
                <setup>
                    <module>Aijko_CustomOptionDescription</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </customoptiondescription_setup>
        </resources>
        <models>
            <customoptiondescription>
                <class>Aijko_CustomOptionDescription_Model</class>
                <resourceModel>customoptiondescription_resource_eav_mysql4</resourceModel>
            </customoptiondescription>
            <customoptiondescription_resource_eav_mysql4>
                <class>Aijko_CustomOptionDescription_Model_Resource_Eav_Mysql4</class>
                <entities>
                    <product_option_description>
                        <table>catalog_product_option_description</table>
                    </product_option_description>
                </entities>
            </customoptiondescription_resource_eav_mysql4>
            <catalog>
                <rewrite>
                    <product_option>Aijko_CustomOptionDescription_Model_Catalog_Product_Option</product_option>
                </rewrite>
            </catalog>
        </models>
    </global>
</config>